In [1]:
import pandas as pd
import numpy as np

In [5]:
import urllib.response
import urllib
import urllib.request

In [6]:
#getting a url from internet
with urllib.request.urlopen("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv") as response:
    html=response.read()

In [7]:
data_set=html

In [9]:
chipo=data_set

In [24]:
#read a csv file using pandas
bli=pd.read_csv('better_life_index.csv')

In [25]:
#see the first 10 entries
bli[0:10]

,"﻿""LOCATION""",Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.4,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.5,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.7,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.0,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.1,NaN,NaN
5,DNK,Denmark,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.2,NaN,NaN
6,FIN,Finland,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.9,NaN,NaN
7,FRA,France,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,7.6,NaN,NaN
8,DEU,Germany,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.7,NaN,NaN
9,GRC,Greece,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,29.8,NaN,NaN

In [26]:
#number of items
bli.count()

﻿"LOCATION"              2368
Country                  2368
INDICATOR                2368
Indicator                2368
MEASURE                  2368
Measure                  2368
INEQUALITY               2368
Inequality               2368
Unit Code                2368
Unit                     2368
PowerCode Code           2368
PowerCode                2368
Reference Period Code       0
Reference Period            0
Value                    2368
Flag Codes                  0
Flags                       0
dtype: int64

In [31]:
#displays the index

bli.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            2358, 2359, 2360, 2361, 2362, 2363, 2364, 2365, 2366, 2367],
           dtype='int64', length=2368)

In [32]:
#what is thethe names of columns in dataset? 
bli.columns

Index(['﻿"LOCATION"', 'Country', 'INDICATOR', 'Indicator', 'MEASURE',
       'Measure', 'INEQUALITY', 'Inequality', 'Unit Code', 'Unit',
       'PowerCode Code', 'PowerCode', 'Reference Period Code',
       'Reference Period', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

In [34]:
#what is the number of columns
len(bli.columns)

17

SyntaxError: invalid syntax (<ipython-input-38-acdf4ac47157>, line 1)

In [37]:
a

[     ﻿"LOCATION"          Country INDICATOR  \
 0            AUS        Australia   JE_LMIS
 1            AUT          Austria   JE_LMIS
 2            BEL          Belgium   JE_LMIS
 3            CAN           Canada   JE_LMIS
 4            CZE   Czech Republic   JE_LMIS
 5            DNK          Denmark   JE_LMIS
 6            FIN          Finland   JE_LMIS
 7            FRA           France   JE_LMIS
 8            DEU          Germany   JE_LMIS
 9            GRC           Greece   JE_LMIS
 10           HUN          Hungary   JE_LMIS
 11           ISL          Iceland   JE_LMIS
 12           IRL          Ireland   JE_LMIS
 13           ITA            Italy   JE_LMIS
 14           JPN            Japan   JE_LMIS
 15           KOR            Korea   JE_LMIS
 16           LUX       Luxembourg   JE_LMIS
 17           MEX           Mexico   JE_LMIS
 18           NLD      Netherlands   JE_LMIS
 19           NZL      New Zealand   JE_LMIS
 20           POL           Poland   JE_LMIS
 21           PRT         Portugal   JE_LMIS
 22           SVK  Slovak Republic   JE_LMIS
 23           ESP            Spain   JE_LMIS
 24           SWE           Sweden   JE_LMIS
 25           TUR           Turkey   JE_LMIS
 26           GBR   United Kingdom   JE_LMIS
 27           USA    United States   JE_LMIS
 28           CHL            Chile   JE_LMIS
 29           EST          Estonia   JE_LMIS
 ...          ...              ...       ...
 2338         LTU        Lithuania    HS_LEB
 2339         COL         Colombia    HS_LEB
 2340         LTU        Lithuania    HS_LEB
 2341         COL         Colombia    HS_LEB
 2342         LTU        Lithuania    HS_LEB
 2343         LTU        Lithuania   HS_SFRH
 2344         LTU        Lithuania   HS_SFRH
 2345         LTU        Lithuania   HS_SFRH
 2346         LTU        Lithuania   HS_SFRH
 2347         LTU        Lithuania   HS_SFRH
 2348         COL         Colombia   SW_LIFS
 2349         LTU        Lithuania   SW_LIFS
 2350         COL         Colombia   SW_LIFS
 2351         LTU        Lithuania   SW_LIFS
 2352         COL         Colombia   SW_LIFS
 2353         LTU        Lithuania   SW_LIFS
 2354         LTU        Lithuania   SW_LIFS
 2355         LTU        Lithuania   SW_LIFS
 2356         COL         Colombia   PS_REPH
 2357         LTU        Lithuania   PS_REPH
 2358         COL         Colombia   PS_REPH
 2359         LTU        Lithuania   PS_REPH
 2360         COL         Colombia   PS_REPH
 2361         LTU        Lithuania   PS_REPH
 2362         COL         Colombia   WL_EWLH
 2363         LTU        Lithuania   WL_EWLH
 2364         COL         Colombia   WL_EWLH
 2365         LTU        Lithuania   WL_EWLH
 2366         COL         Colombia   WL_EWLH
 2367         LTU        Lithuania   WL_EWLH

                               Indicator MEASURE Measure INEQUALITY Inequality  \
 0              Labour market insecurity       L   Value        TOT      Total
 1              Labour market insecurity       L   Value        TOT      Total
 2              Labour market insecurity       L   Value        TOT      Total
 3              Labour market insecurity       L   Value        TOT      Total
 4              Labour market insecurity       L   Value        TOT      Total
 5              Labour market insecurity       L   Value        TOT      Total
 6              Labour market insecurity       L   Value        TOT      Total
 7              Labour market insecurity       L   Value        TOT      Total
 8              Labour market insecurity       L   Value        TOT      Total
 9              Labour market insecurity       L   Value        TOT      Total
 10             Labour market insecurity       L   Value        TOT      Total
 11             Labour market insecurity       L   Value        TOT      Total
 12             Labour market insecurity       L   Value        TOT      Total
 13             Labour market insecurity       L   Value        TOT      Total
 14             Labour market insecurity       L   Value        TOT      Total
 15             Labour market insecurity       L   Value        TOT      Total
 16             Labour market insecurity       L   Value        TOT      Total
 17             Labour market insecurity       L   Value        TOT      Total
 18             Labour market insecurity       L   Value        TOT      Total
 19             Labour market insecurity       L   Value        TOT      Total
 20             Labour market insecurity       L   Value        TOT      Total
 21             Labour market insecurity       L   Value        TOT      Total
 22             Labour market insecurity       L   Value        TOT      Total
 23             Labour market insecurity       L   Value        TOT      Total
 24             Labour market insecurity       L   Value        TOT      Total
 25             Labour market insecurity       L   Value        TOT      Total
 26             Labour market insecurity       L   Value        TOT      Total
 27             Labour market insecurity       L   Value        TOT      Total
 28             Labour market insecurity       L   Value        TOT      Total
 29             Labour market insecurity       L   Value        TOT      Total
 ...                                 ...     ...     ...        ...        ...
 2338                    Life expectancy       L   Value        TOT      Total
 2339                    Life expectancy       L   Value         MN        Men
 2340                    Life expectancy       L   Value         MN        Men
 2341                    Life expectancy       L   Value        WMN      Women
 2342                    Life expectancy       L   Value        WMN      Women
 2343               Self-reported health       L   Value        TOT      Total
 2344               Self-reported health       L   Value         MN        Men
 2345               Self-reported health       L   Value        WMN      Women
 2346               Self-reported health       L   Value        HGH       High
 2347               Self-reported health       L   Value         LW        Low
 2348                  Life satisfaction       L   Value        TOT      Total
 2349                  Life satisfaction       L   Value        TOT      Total
 2350                  Life satisfaction       L   Value         MN        Men
 2351                  Life satisfaction       L   Value         MN        Men
 2352                  Life satisfaction       L   Value        WMN      Women
 2353                  Life satisfaction       L   Value        WMN      Women
 2354                  Life satisfaction       L   Value        HGH       High
 2355                  Life satisfaction       L   Value         LW        Low
 2356                      Homicide rate       L   Value        TOT      Total
 2357                      Homicide rate       L   Value        TOT      Total
 2358                      Homicide rate       L   Value         MN        Men
 2359                      Homicide rate       L   Value         MN        Men
 2360                      Homicide rate       L   Value        WMN      Women
 2361                      Homicide rate       L   Value        WMN      Women
 2362  Employees working very long hours       L   Value        TOT      Total
 2363  Employees working very long hours       L   Value        TOT      Total
 2364  Employees working very long hours       L   Value         MN        Men
 2365  Employees working very long hours       L   Value         MN        Men
 2366  Employees working very long hours       L   Value        WMN      Women
 2367  Employees working very long hours       L   Value        WMN      Women

      Unit Code           Unit  PowerCode Code PowerCode  \
 0           PC     Percentage               0     Units
 1           PC     Percentage               0     Units
 2           PC     Percentage               0     Units
 3           PC     Percentage               0     Units
 4           PC     Percentage               0     Units
 5           PC     Percentage               0     Units
 6           PC     Percentage               0     Units
 7           PC     Percentage               0     Units
 8           PC     Percentage               0     Units
 9           PC     Percentage               0     Units
 10          PC     Percentage               0     Units
 11          PC     Percentage               0     Units
 12          PC     Percentage               0     Units
 13          PC     Percentage               0     Units
 14          PC     Percentage               0     Units
 15          PC     Percentage               0     Units
 16          PC     Percentage               0     Units
 17          PC     Percentage               0     Units
 18          PC     Percentage               0     Units
 19          PC     Percentage               0     Units
 20          PC     Percentage               0     Units
 21          PC     Percentage               0     Units
 22          PC     Percentage               0     Units
 23          PC     Percentage               0     Units
 24          PC     Percentage               0     Units
 25          PC     Percentage               0     Units
 26          PC     Percentage               0     Units
 27          PC     Percentage               0     Units
 28          PC     Percentage               0     Units
 29          PC     Percentage               0     Units
 ...        ...            ...             ...       ...
 2338        YR          Years               0     Units
 2339        YR          Years               0     Units
 2340        YR          Years               0     Units
 2341        YR          Years               0     Units
 2342        YR          Years               0     Units
 2343        PC     Percentage               0     Units
 2344        PC     Percentage               0     Units
 2345        PC     Percentage               0     Units
 2346        PC     Percentage               0     Units
 2347        PC     Percentage               0     Units
 2348   AVSCORE  Average score               0     Units
 2349   AVSCORE  Average score               0     Units
 2350   AVSCORE  Average score               0     Units
 2351   AVSCORE  Average score               0     Units
 2352   AVSCORE  Average score               0     Units
 2353   AVSCORE  Average score               0     Units
 2354   AVSCORE  Average score               0     Units
 2355   AVSCORE  Average score               0     Units
 2356     RATIO          Ratio               0     Units
 2357     RATIO          Ratio               0     Units
 2358     RATIO          Ratio               0     Units
 2359     RATIO          Ratio               0     Units
 2360     RATIO          Ratio               0     Units
 2361     RATIO          Ratio               0     Units
 2362        PC     Percentage               0     Units
 2363        PC     Percentage               0     Units
 2364        PC     Percentage               0     Units
 2365        PC     Percentage               0     Units
 2366        PC     Percentage               0     Units
 2367        PC     Percentage               0     Units

       Reference Period Code  Reference Period  Value  Flag Codes  Flags
 0                       NaN               NaN   5.40         NaN    NaN
 1                       NaN               NaN   3.50         NaN    NaN
 2                       NaN               NaN   3.70         NaN    NaN
 3                       NaN               NaN   6.00         NaN    NaN
 4                       NaN               NaN   3.10         NaN    NaN
 5                       NaN               NaN   4.20         NaN    NaN
 6                       NaN               NaN   3.90         NaN    NaN
 7                       NaN               NaN   7.60         NaN    NaN
 8                       NaN               NaN   2.70         NaN    NaN
 9                       NaN               NaN  29.80         NaN    NaN
 10                      NaN               NaN   4.70         NaN    NaN
 11                      NaN               NaN   0.70         NaN    NaN
 12                      NaN               NaN   7.80         NaN    NaN
 13                      NaN               NaN  12.30         NaN    NaN
 14                      NaN               NaN   1.40         NaN    NaN
 15                      NaN               NaN   2.60         NaN    NaN
 16                      NaN               NaN   1.70         NaN    NaN
 17                      NaN               NaN   5.50         NaN    NaN
 18                      NaN               NaN   4.80         NaN    NaN
 19                      NaN               NaN   4.70         NaN    NaN
 20                      NaN               NaN   5.70         NaN    NaN
 21                      NaN               NaN  10.00         NaN    NaN
 22                      NaN               NaN   9.90         NaN    NaN
 23                      NaN               NaN  23.10         NaN    NaN
 24                      NaN               NaN   3.20         NaN    NaN
 25                      NaN               NaN  12.50         NaN    NaN
 26                      NaN               NaN   4.50         NaN    NaN
 27                      NaN               NaN   7.70         NaN    NaN
 28                      NaN               NaN   8.70         NaN    NaN
 29                      NaN               NaN   3.80         NaN    NaN
 ...                     ...               ...    ...         ...    ...
 2338                    NaN               NaN  74.80         NaN    NaN
 2339                    NaN               NaN  73.10         NaN    NaN
 2340                    NaN               NaN  69.50         NaN    NaN
 2341                    NaN               NaN  79.40         NaN    NaN
 2342                    NaN               NaN  80.10         NaN    NaN
 2343                    NaN               NaN  43.00         NaN    NaN
 2344                    NaN               NaN  49.00         NaN    NaN
 2345                    NaN               NaN  40.00         NaN    NaN
 2346                    NaN               NaN  67.00         NaN    NaN
 2347                    NaN               NaN  29.00         NaN    NaN
 2348                    NaN               NaN   6.30         NaN    NaN
 2349                    NaN               NaN   5.90         NaN    NaN
 2350                    NaN               NaN   6.20         NaN    NaN
 2351                    NaN               NaN   5.90         NaN    NaN
 2352                    NaN               NaN   6.30         NaN    NaN
 2353                    NaN               NaN   6.00         NaN    NaN
 2354                    NaN               NaN   6.50         NaN    NaN
 2355                    NaN               NaN   5.60         NaN    NaN
 2356                    NaN               NaN  24.50         NaN    NaN
 2357                    NaN               NaN   3.40         NaN    NaN
 2358                    NaN               NaN  46.40         NaN    NaN
 2359                    NaN               NaN   5.20         NaN    NaN
 2360                    NaN               NaN   4.10         NaN    NaN
 2361                    NaN               NaN   1.70         NaN    NaN
 2362                    NaN               NaN  26.56         NaN    NaN
 2363                    NaN               NaN   0.54         NaN    NaN
 2364                    NaN               NaN  32.09         NaN    NaN
 2365                    NaN               NaN   0.67         NaN    NaN
 2366                    NaN               NaN  19.37         NaN    NaN
 2367                    NaN               NaN   0.43         NaN    NaN

 [2368 rows x 17 columns]]

In [42]:
chipotle=pd.read_tsv('chipotle.csv',delimiter'\t')

SyntaxError: invalid syntax (<ipython-input-42-a377d2e3276b>, line 1)