In [4]:
import matplotlib
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import sklearn

#load the data
#better life index
oecd_bli=pd.read_csv("better_life_index.csv",thousands=',')
gdp_per_capita=pd.read_csv("gdp_per_capita.csv",thousands=',',delimiter='\t',encoding='latin1',na_values='n/a')
#gdp_per_capita=pd.read_csv("gdp_per_capita.csv")

CParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 64

In [2]:
oecd_bli

,"ï»¿""LOCATION""",Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.40,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.50,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.70,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,6.00,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.10,NaN,NaN
5,DNK,Denmark,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.20,NaN,NaN
6,FIN,Finland,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.90,NaN,NaN
7,FRA,France,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,7.60,NaN,NaN
8,DEU,Germany,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.70,NaN,NaN
9,GRC,Greece,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,29.80,NaN,NaN
10,HUN,Hungary,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.70,NaN,NaN
11,ISL,Iceland,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,0.70,NaN,NaN
12,IRL,Ireland,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,7.80,NaN,NaN
13,ITA,Italy,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,12.30,NaN,NaN
14,JPN,Japan,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,1.40,NaN,NaN
15,KOR,Korea,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.60,NaN,NaN
16,LUX,Luxembourg,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,1.70,NaN,NaN
17,MEX,Mexico,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.50,NaN,NaN
18,NLD,Netherlands,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.80,NaN,NaN
19,NZL,New Zealand,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.70,NaN,NaN
20,POL,Poland,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,5.70,NaN,NaN
21,PRT,Portugal,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,10.00,NaN,NaN
22,SVK,Slovak Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,9.90,NaN,NaN
23,ESP,Spain,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,23.10,NaN,NaN
24,SWE,Sweden,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.20,NaN,NaN
25,TUR,Turkey,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,12.50,NaN,NaN
26,GBR,United Kingdom,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.50,NaN,NaN
27,USA,United States,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,7.70,NaN,NaN
28,CHL,Chile,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,8.70,NaN,NaN
29,EST,Estonia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.80,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2338,LTU,Lithuania,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,Units,NaN,NaN,74.80,NaN,NaN
2339,COL,Colombia,HS_LEB,Life expectancy,L,Value,MN,Men,YR,Years,0,Units,NaN,NaN,73.10,NaN,NaN
2340,LTU,Lithuania,HS_LEB,Life expectancy,L,Value,MN,Men,YR,Years,0,Units,NaN,NaN,69.50,NaN,NaN
2341,COL,Colombia,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,Units,NaN,NaN,79.40,NaN,NaN
2342,LTU,Lithuania,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,Units,NaN,NaN,80.10,NaN,NaN
2343,LTU,Lithuania,HS_SFRH,Self-reported health,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,43.00,NaN,NaN
2344,LTU,Lithuania,HS_SFRH,Self-reported health,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,49.00,NaN,NaN
2345,LTU,Lithuania,HS_SFRH,Self-reported health,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,40.00,NaN,NaN
2346,LTU,Lithuania,HS_SFRH,Self-reported health,L,Value,HGH,High,PC,Percentage,0,Units,NaN,NaN,67.00,NaN,NaN
2347,LTU,Lithuania,HS_SFRH,Self-reported health,L,Value,LW,Low,PC,Percentage,0,Units,NaN,NaN,29.00,NaN,NaN
2348,COL,Colombia,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,6.30,NaN,NaN
2349,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,TOT,Total,AVSCORE,Average score,0,Units,NaN,NaN,5.90,NaN,NaN
2350,COL,Colombia,SW_LIFS,Life satisfaction,L,Value,MN,Men,AVSCORE,Average score,0,Units,NaN,NaN,6.20,NaN,NaN
2351,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,MN,Men,AVSCORE,Average score,0,Units,NaN,NaN,5.90,NaN,NaN
2352,COL,Colombia,SW_LIFS,Life satisfaction,L,Value,WMN,Women,AVSCORE,Average score,0,Units,NaN,NaN,6.30,NaN,NaN
2353,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,WMN,Women,AVSCORE,Average score,0,Units,NaN,NaN,6.00,NaN,NaN
2354,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,HGH,High,AVSCORE,Average score,0,Units,NaN,NaN,6.50,NaN,NaN
2355,LTU,Lithuania,SW_LIFS,Life satisfaction,L,Value,LW,Low,AVSCORE,Average score,0,Units,NaN,NaN,5.60,NaN,NaN
2356,COL,Colombia,PS_REPH,Homicide rate,L,Value,TOT,Total,RATIO,Ratio,0,Units,NaN,NaN,24.50,NaN,NaN
2357,LTU,Lithuania,PS_REPH,Homicide rate,L,Value,TOT,Total,RATIO,Ratio,0,Units,NaN,NaN,3.40,NaN,NaN
2358,COL,Colombia,PS_REPH,Homicide rate,L,Value,MN,Men,RATIO,Ratio,0,Units,NaN,NaN,46.40,NaN,NaN
2359,LTU,Lithuania,PS_REPH,Homicide rate,L,Value,MN,Men,RATIO,Ratio,0,Units,NaN,NaN,5.20,NaN,NaN
2360,COL,Colombia,PS_REPH,Homicide rate,L,Value,WMN,Women,RATIO,Ratio,0,Units,NaN,NaN,4.10,NaN,NaN
2361,LTU,Lithuania,PS_REPH,Homicide rate,L,Value,WMN,Women,RATIO,Ratio,0,Units,NaN,NaN,1.70,NaN,NaN
2362,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,26.56,NaN,NaN
2363,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,0.54,NaN,NaN
2364,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,32.09,NaN,NaN
2365,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,MN,Men,PC,Percentage,0,Units,NaN,NaN,0.67,NaN,NaN
2366,COL,Colombia,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,19.37,NaN,NaN
2367,LTU,Lithuania,WL_EWLH,Employees working very long hours,L,Value,WMN,Women,PC,Percentage,0,Units,NaN,NaN,0.43,NaN,NaN

In [3]:
gdp_per_capita

      Ã¯Â»Â¿"Data Source","World Development Indicators",
0                      Last Updated Date,"2019-07-10",
1    Country Name,"Country Code","Indicator Name","...
2    Aruba,"ABW","GDP per capita (current US$)","NY...
3    Afghanistan,"AFG","GDP per capita (current US$...
4    Angola,"AGO","GDP per capita (current US$)","N...
5    Albania,"ALB","GDP per capita (current US$)","...
6    Andorra,"AND","GDP per capita (current US$)","...
7    Arab World,"ARB","GDP per capita (current US$)...
8    United Arab Emirates,"ARE","GDP per capita (cu...
9    Argentina,"ARG","GDP per capita (current US$)"...
10   Armenia,"ARM","GDP per capita (current US$)","...
11   American Samoa,"ASM","GDP per capita (current ...
12   Antigua and Barbuda,"ATG","GDP per capita (cur...
13   Australia,"AUS","GDP per capita (current US$)"...
14   Austria,"AUT","GDP per capita (current US$)","...
15   Azerbaijan,"AZE","GDP per capita (current US$)...
16   Burundi,"BDI","GDP per capita (current US$)","...
17   Belgium,"BEL","GDP per capita (current US$)","...
18   Benin,"BEN","GDP per capita (current US$)","NY...
19   Burkina Faso,"BFA","GDP per capita (current US...
20   Bangladesh,"BGD","GDP per capita (current US$)...
21   Bulgaria,"BGR","GDP per capita (current US$)",...
22   Bahrain,"BHR","GDP per capita (current US$)","...
23   Bahamas, The,"BHS","GDP per capita (current US...
24   Bosnia and Herzegovina,"BIH","GDP per capita (...
25   Belarus,"BLR","GDP per capita (current US$)","...
26   Belize,"BLZ","GDP per capita (current US$)","N...
27   Bermuda,"BMU","GDP per capita (current US$)","...
28   Bolivia,"BOL","GDP per capita (current US$)","...
29   Brazil,"BRA","GDP per capita (current US$)","N...
..                                                 ...
236  Latin America & the Caribbean (IDA & IBRD coun...
237  Timor-Leste,"TLS","GDP per capita (current US$...
238  Middle East & North Africa (IDA & IBRD countri...
239  Tonga,"TON","GDP per capita (current US$)","NY...
240  South Asia (IDA & IBRD),"TSA","GDP per capita ...
241  Sub-Saharan Africa (IDA & IBRD countries),"TSS...
242  Trinidad and Tobago,"TTO","GDP per capita (cur...
243  Tunisia,"TUN","GDP per capita (current US$)","...
244  Turkey,"TUR","GDP per capita (current US$)","N...
245  Tuvalu,"TUV","GDP per capita (current US$)","N...
246  Tanzania,"TZA","GDP per capita (current US$)",...
247  Uganda,"UGA","GDP per capita (current US$)","N...
248  Ukraine,"UKR","GDP per capita (current US$)","...
249  Upper middle income,"UMC","GDP per capita (cur...
250  Uruguay,"URY","GDP per capita (current US$)","...
251  United States,"USA","GDP per capita (current U...
252  Uzbekistan,"UZB","GDP per capita (current US$)...
253  St. Vincent and the Grenadines,"VCT","GDP per ...
254  Venezuela, RB,"VEN","GDP per capita (current U...
255  British Virgin Islands,"VGB","GDP per capita (...
256  Virgin Islands (U.S.),"VIR","GDP per capita (c...
257  Vietnam,"VNM","GDP per capita (current US$)","...
258  Vanuatu,"VUT","GDP per capita (current US$)","...
259  World,"WLD","GDP per capita (current US$)","NY...
260  Samoa,"WSM","GDP per capita (current US$)","NY...
261  Kosovo,"XKX","GDP per capita (current US$)","N...
262  Yemen, Rep.,"YEM","GDP per capita (current US$...
263  South Africa,"ZAF","GDP per capita (current US...
264  Zambia,"ZMB","GDP per capita (current US$)","N...
265  Zimbabwe,"ZWE","GDP per capita (current US$)",...

[266 rows x 1 columns]

In [5]:
help(pd.read_csv)

Help on function read_csv in module pandas.io.parsers:

read_csv(filepath_or_buffer, sep=',', dialect=None, compression='infer', doublequote=True, escapechar=None, quotechar='"', quoting=0, skipinitialspace=False, lineterminator=None, header='infer', index_col=None, names=None, prefix=None, skiprows=None, skipfooter=None, skip_footer=0, na_values=None, true_values=None, false_values=None, delimiter=None, converters=None, dtype=None, usecols=None, engine=None, delim_whitespace=False, as_recarray=False, na_filter=True, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, warn_bad_lines=True, error_bad_lines=True, keep_default_na=True, thousands=None, comment=None, decimal=b'.', parse_dates=False, keep_date_col=False, dayfirst=False, date_parser=None, memory_map=False, float_precision=None, nrows=None, iterator=False, chunksize=None, verbose=False, encoding=None, squeeze=False, mangle_dupe_cols=True, tupleize_cols=False, infer_datetime_format=False, skip_blank_lines=True)
    Read CSV (comma-separated) file into DataFrame

    Also supports optionally iterating or breaking of the file
    into chunks.

    Additional help can be found in the `online docs for IO Tools
    <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

    Parameters
    ----------
    filepath_or_buffer : string or file handle / StringIO
        The string could be a URL. Valid URL schemes include
        http, ftp, s3, and file. For file URLs, a
        host is expected. For instance, a local file could be
        file ://localhost/path/to/table.csv
    sep : string, default ','
        Delimiter to use. If sep is None, will try to automatically determine
        this. Regular expressions are accepted.
    engine : {'c', 'python'}
        Parser engine to use. The C engine is faster while the python engine is
        currently more feature-complete.
    lineterminator : string (length 1), default None
        Character to break file into lines. Only valid with C parser
    quotechar : string (length 1)
        The character used to denote the start and end of a quoted item. Quoted
        items can include the delimiter and it will be ignored.
    quoting : int or csv.QUOTE_* instance, default None
        Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
        QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
        Default (None) results in QUOTE_MINIMAL behavior.
    skipinitialspace : boolean, default False
        Skip spaces after delimiter
    escapechar : string (length 1), default None
        One-character string used to escape delimiter when quoting is QUOTE_NONE.
    dtype : Type name or dict of column -> type, default None
        Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
        (Unsupported with engine='python')
    compression : {'gzip', 'bz2', 'infer', None}, default 'infer'
        For on-the-fly decompression of on-disk data. If 'infer', then use gzip or
        bz2 if filepath_or_buffer is a string ending in '.gz' or '.bz2',
        respectively, and no decompression otherwise. Set to None for no
        decompression.
    dialect : string or csv.Dialect instance, default None
        If None defaults to Excel dialect. Ignored if sep longer than 1 char
        See csv.Dialect documentation for more details
    header : int, list of ints, default 'infer'
        Row number(s) to use as the column names, and the start of the
        data.  Defaults to 0 if no ``names`` passed, otherwise ``None``. Explicitly
        pass ``header=0`` to be able to replace existing names. The header can be
        a list of integers that specify row locations for a multi-index on the
        columns E.g. [0,1,3]. Intervening rows that are not specified will be
        skipped (e.g. 2 in this example are skipped). Note that this parameter
        ignores commented lines and empty lines if ``skip_blank_lines=True``, so header=0
        denotes the first line of data rather than the first line of the file.
    skiprows : list-like or integer, default None
        Line numbers to skip (0-indexed) or number of lines to skip (int)
        at the start of the file
    index_col : int or sequence or False, default None
        Column to use as the row labels of the DataFrame. If a sequence is given, a
        MultiIndex is used. If you have a malformed file with delimiters at the end
        of each line, you might consider index_col=False to force pandas to _not_
        use the first column as the index (row names)
    names : array-like, default None
        List of column names to use. If file contains no header row, then you
        should explicitly pass header=None
    prefix : string, default None
        Prefix to add to column numbers when no header, e.g 'X' for X0, X1, ...
    na_values : str, list-like or dict, default None
        Additional strings to recognize as NA/NaN. If dict passed, specific
        per-column NA values
    true_values : list, default None
        Values to consider as True
    false_values : list, default None
        Values to consider as False
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to
    parse_dates : boolean, list of ints or names, list of lists, or dict, default False
        If True -> try parsing the index.
        If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
        If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
        {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result 'foo'
        A fast-path exists for iso8601-formatted dates.
    keep_date_col : boolean, default False
        If True and parse_dates specifies combining multiple columns then
        keep the original columns.
    date_parser : function, default None
        Function to use for converting a sequence of string columns to an
        array of datetime instances. The default uses dateutil.parser.parser
        to do the conversion. Pandas will try to call date_parser in three different
        ways, advancing to the next if an exception occurs: 1) Pass one or more arrays
        (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the string
        values from the columns defined by parse_dates into a single array and pass
        that; and 3) call date_parser once for each row using one or more strings
        (corresponding to the columns defined by parse_dates) as arguments.
    dayfirst : boolean, default False
        DD/MM format dates, international and European format
    thousands : str, default None
        Thousands separator
    comment : str, default None
        Indicates remainder of line should not be parsed. If found at the
        beginning of a line, the line will be ignored altogether. This parameter
        must be a single character. Like empty lines (as long as ``skip_blank_lines=True``),
        fully commented lines are ignored by the parameter `header`
        but not by `skiprows`. For example, if comment='#', parsing
        '#empty\na,b,c\n1,2,3' with `header=0` will result in 'a,b,c' being
        treated as the header.
    decimal : str, default '.'
        Character to recognize as decimal point. E.g. use ',' for European data
    nrows : int, default None
        Number of rows of file to read. Useful for reading pieces of large files
    iterator : boolean, default False
        Return TextFileReader object for iteration or getting chunks with ``get_chunk()``.
    chunksize : int, default None
        Return TextFileReader object for iteration. `See IO Tools docs for more
        information
        <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_ on
        ``iterator`` and ``chunksize``.
    skipfooter : int, default 0
        Number of lines at bottom of file to skip (Unsupported with engine='c')
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can either
        be integers or column labels
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    delimiter : string, default None
        Alternative argument name for sep. Regular expressions are accepted.
    encoding : string, default None
        Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
        standard encodings
        <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
    squeeze : boolean, default False
        If the parsed data only contains one column then return a Series
    na_filter : boolean, default True
        Detect missing value markers (empty strings and the value of na_values). In
        data without any NAs, passing na_filter=False can improve the performance
        of reading a large file
    usecols : array-like, default None
        Return a subset of the columns.
        Results in much faster parsing time and lower memory usage.
    mangle_dupe_cols : boolean, default True
        Duplicate columns will be specified as 'X.0'...'X.N', rather than 'X'...'X'
    tupleize_cols : boolean, default False
        Leave a list of tuples on columns as is (default is to convert to
        a Multi Index on the columns)
    error_bad_lines : boolean, default True
        Lines with too many fields (e.g. a csv line with too many commas) will by
        default cause an exception to be raised, and no DataFrame will be returned.
        If False, then these "bad lines" will dropped from the DataFrame that is
        returned. (Only valid with C parser)
    warn_bad_lines : boolean, default True
        If error_bad_lines is False, and warn_bad_lines is True, a warning for each
        "bad line" will be output. (Only valid with C parser).
    infer_datetime_format : boolean, default False
        If True and parse_dates is enabled for a column, attempt to infer
        the datetime format to speed up the processing
    skip_blank_lines : boolean, default True
        If True, skip over blank lines rather than interpreting as NaN values

    Returns
    -------
    result : DataFrame or TextParser

In [12]:
df=pd.read_excel('my_file.xls',sheetname='WEO_Data.xls')

XLRDError: No sheet named <'WEO_Data.xls'>

In [10]:
help(pd.read_excel)

Help on function read_excel in module pandas.io.excel:

read_excel(io, sheetname=0, header=0, skiprows=None, skip_footer=0, index_col=None, parse_cols=None, parse_dates=False, date_parser=None, na_values=None, thousands=None, convert_float=True, has_index_names=None, converters=None, engine=None, **kwds)
    Read an Excel table into a pandas DataFrame

    Parameters
    ----------
    io : string, file-like object, pandas ExcelFile, or xlrd workbook.
        The string could be a URL. Valid URL schemes include http, ftp, s3,
        and file. For file URLs, a host is expected. For instance, a local
        file could be file://localhost/path/to/workbook.xlsx
    sheetname : string, int, mixed list of strings/ints, or None, default 0

        Strings are used for sheet names, Integers are used in zero-indexed sheet
        positions.

        Lists of strings/integers are used to request multiple sheets.

        Specify None to get all sheets.

        str|int -> DataFrame is returned.
        list|None -> Dict of DataFrames is returned, with keys representing sheets.

        Available Cases

        * Defaults to 0 -> 1st sheet as a DataFrame
        * 1 -> 2nd sheet as a DataFrame
        * "Sheet1" -> 1st sheet as a DataFrame
        * [0,1,"Sheet5"] -> 1st, 2nd & 5th sheet as a dictionary of DataFrames
        * None -> All sheets as a dictionary of DataFrames

    header : int, list of ints, default 0
        Row (0-indexed) to use for the column labels of the parsed
        DataFrame. If a list of integers is passed those row positions will
        be combined into a ``MultiIndex``
    skiprows : list-like
        Rows to skip at the beginning (0-indexed)
    skip_footer : int, default 0
        Rows at the end to skip (0-indexed)
    index_col : int, list of ints, default None
        Column (0-indexed) to use as the row labels of the DataFrame.
        Pass None if there is no such column.  If a list is passed,
        those columns will be combined into a ``MultiIndex``
    converters : dict, default None
        Dict of functions for converting values in certain columns. Keys can
        either be integers or column labels, values are functions that take one
        input argument, the Excel cell content, and return the transformed
        content.
    parse_cols : int or list, default None
        * If None then parse all columns,
        * If int then indicates last column to be parsed
        * If list of ints then indicates list of column numbers to be parsed
        * If string then indicates comma separated list of column names and
          column ranges (e.g. "A:E" or "A,C,E:F")
    na_values : list-like, default None
        List of additional strings to recognize as NA/NaN
    thousands : str, default None
        Thousands separator for parsing string columns to numeric.  Note that
        this parameter is only necessary for columns stored as TEXT in Excel,
        any numeric columns will automatically be parsed, regardless of display
        format.
    keep_default_na : bool, default True
        If na_values are specified and keep_default_na is False the default NaN
        values are overridden, otherwise they're appended to
    verbose : boolean, default False
        Indicate number of NA values placed in non-numeric columns
    engine: string, default None
        If io is not a buffer or path, this must be set to identify io.
        Acceptable values are None or xlrd
    convert_float : boolean, default True
        convert integral floats to int (i.e., 1.0 --> 1). If False, all numeric
        data will be read in as floats: Excel stores all numbers as floats
        internally
    has_index_names : boolean, default None
        DEPRECATED: for version 0.17+ index names will be automatically inferred
        based on index_col.  To read Excel output from 0.16.2 and prior that
        had saved index names, use True.

    Returns
    -------
    parsed : DataFrame or Dict of DataFrames
        DataFrame from the passed in Excel file.  See notes in sheetname argument
        for more information on when a Dict of Dataframes is returned.